


$colorBlue1:#6057e4c2;
$colorBlue2:#160e80c2;
$colorWhite1:#ffffff;
$colorOrange1:#ff9b58;
*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
}
html,body,#root{
    height: 100%;
}

.ly-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loader{
    width: 350px;
    height: 350px;
    top: calc((100vh - 350px) / 2);
    position: fixed;
    z-index: 2;
    background: rgba(mix($colorBlue1,$colorWhite1,50), 0.95);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    >div{
        width: 140px;
        height: 140px;
        border:12px $colorBlue2 solid;
        border-left-color: $colorWhite1;
        border-radius: 50%;
        animation: load 2s 0s infinite forwards;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        @keyframes load {
            to{
                transform: rotate(360deg);
            }
            
        }


    }

}

.cm-loginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 25px;
    border: 1px $colorBlue1 solid;
    border-radius: 10px;
    input{
        width: 250px;
        padding: 5px 0px;
        text-align: center;
        margin: 10px;

    }
    img{
        width: 100%;
        cursor: pointer;
    }
    button{
        width: 250px;
        padding: 5px 0px;
    }

}

.ly-desk{
    display: flex;
    flex-direction: row;
    height: 100%;


}

.cm-menu{
    height: 100%;
    width: 250px;
    background: $colorBlue1;
    .userBx{
        display: flex;
        flex-direction: row;
        margin: 10px;
        border-radius: 10px;
        background: $colorBlue2;
        height: 70px;
        align-items: center;
        justify-content: space-around;
        p{
            color: $colorWhite1;
            font-weight: bold;
        }
        button{
            width: 90px;
            background: $colorOrange1;
            border: 0px;
            padding: 3px 0px;
        }
    }
    .itemMenu{
        font-size: 14pt;
        color: $colorWhite1;
        cursor: pointer;
        margin-right: 15px;
        margin-top: 20px;
    }

}

.pg{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pallet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px $colorBlue1 solid;
    padding: 20px 0px;
    .bxs{
        display: flex;
        flex-direction: row;
        width: 100%;
        .bx{
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            justify-content: space-around;
            border: 1px $colorBlue2 solid;
            flex: 1;
            margin:  10px 20px;
        }
    }
}

.conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px $colorBlue1 solid;
}
.typeColor{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    >div{
        border: 1px $colorBlue2 solid;
        height: 80px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        >p{
            text-align: center;
            font-size: 15pt;
            font-weight: bold;
        }
    }
    .typslc{
        background: $colorBlue2;
        p{
            color: $colorWhite1;

        }
    }
}
.typeJob{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    >div{
        border: 1px $colorBlue2 solid;
        height: 50px;
        width: 200px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            text-align: center;
            font-size: 15pt;
            font-weight: bold;
        }
        .count{
            >p{
                font-size: 12pt;
            }
        }
    }
    .typslc{
        background: $colorBlue2;
        p{
            color: $colorWhite1;

        }
    }
}
.keywords{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    input{
        width: 450px;
        padding: 5px 0px;
        text-align: center;

    }
}

.submit{
    background: $colorBlue2;
    color: $colorWhite1;
    width: 250px;
    border: 0px;
    margin: 50px auto;
    padding: 10px 0px;
    font-size: 18pt;
    cursor: pointer;
}